.divContenido{
    width: 100%;
    height: 1000px;
    background: white;
    float: left;
}

.divImagen{
    width: 45%;
    height: 550px;
    margin-top: 10em;
    margin-left: 3%;
    float: left;
}

.divImagen img{
    width: 100%;
    height: 550px;
}

.divCaracteristicas{
    width: 47%;
    height: 550px;
    margin-top:10em;
    margin-left: 3%;
    /* border: 1px solid grey; */
    float: left;
}

.divBoton{
    width: 100%;
    height: 50px;
    float: left;
}
.bAtras{
    width: 30%;
    margin-left: 35%;
    height: 50px;
    border-radius: 5px;
    background: #2E3437;
    color: white;
    border: none;
    cursor: pointer;
}

.bAtras:hover{
    background: #5F717A;
}

.divBoton h3{
    text-align: center;
    font-size: 40px;
    margin-top: 2em;
}

.divBoton p{
    width: 45%;
    height: 50px;
    font-size: 30px;
    margin-top: 2em;
    margin-left: 5%;
    float: left;
}

.divBoton input[type='number']{
    width: 50%;
    margin-left: 25%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    height: 50px;
}

.bComprar{
    width: 50%;
    margin-left: 25%;
    height: 50px;
    border-radius: 5px;
    background: #5BB8E7;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3em;
}

.bComprar:hover{
    background: #8AD5FB;
}
