.divTitulo{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid grey;
    box-shadow: 3px 0px 3px grey;    
    float: left;
}

.divTitulo h2{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

.divContenedor{
    width: 100%;
    height: 930px;
    float: left;
}
.divNosotros{
    width: 90%;
    height: 800px;
    margin-top:1em;
    margin-left: 5%;
    /* background: red; */
    float: left;
}

.divNosotros p{
    font-size: 20px;
    margin-top: 1em;
    text-align: justify;
}